body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.img-1{
    text-align: center;
    margin-top: 20px;
}

.head li{
    list-style-type: none;
    text-transform: uppercase;
}

.head{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}

.fff {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fff img {
    border-radius: 15px;
}

.whs {
    text-align: center;
}

.fff p{
    text-align: center;
    font-size: 15px;
}
.a{
    padding: 15px 40px;
    background: linear-gradient(#7d5092, #4353f4 );
    border-radius: 10px;
}

.a-1{
    margin-top: 40px;
    text-align: center;
}

.wh {
    margin-top: 80px;
    text-align: center;
}

.foot {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.foot img {
    margin-top: 50px;
}

.sc{
    margin-top: 80px;
}